<!DOCTYPE html>
<html>
 
<head>
    <meta http-equiv="refresh" content=" 5; url=./personal">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
 
<body>
    <div class="newAccount">
        <h2><%= title %></h2>
        <p id="msg" class="h5"><%- message %></p>
        <p><a href="/" class="dt_link">5秒後にトップページに移動します。</a></p>
    </div>


</body>
</html>