<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoraSora</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/common.css">
</head>

<body>
    <header>
        <div class="hero">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark px-0">

                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/newAccount">SignUp</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="mt-3">
            出題数：
            <input type="radio" name="r" id="r1" value="0" onchange="select_radio()"><label for="r1">10問</label>
            <input type="radio" name="r" id="r2" value="1" class="ml-2" onchange="select_radio()"><label
                for="r2">30問</label>
            <input type="radio" name="r" id="r3" value="2" class="ml-2" checked onchange="select_radio()"><label
                for="r3">全問</label>
        </div>

        <div id="card" class="py-3 px-0">
            <p id="cnt" class="text-right">　</p>
            <div id="disparea" class="px-0 disparea dispareahight">
                -- START --
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 offset-sm-2 order-sm-1 order-2 mb-3">
                <button type="button" disabled id="back" name="back"
                    class="btn btn-lg font-weight-bold btn-color w-100 mt-4 mt-sm-0" onclick="back()">BACK</button>
            </div>
            <div class="col-sm-3 offset-sm-2 order-sm-2 order-1">
                <button type="button" id="start" class="btn btn-lg font-weight-bold btn-color w-100"
                    onclick="changeText()">NEXT</button>
            </div>
            <form name="restart"></form>
        </div>
    </div>
    <!-- 追加 -->
    <footer>

    </footer>
</body>
<script>
    'use strict';
    //*****************************************************************
    // 宣言エリア
    //*****************************************************************
    let array = [];
    let cnt = 0;
    let flg = 1;
    let quantity = 0;
    let reset_flg = false;

    let fileInput = document.getElementById("01");
    //let elements = document.getElementsByName("r");
    let elements;
    let disabled_release = document.getElementById("back");
    let disparea = document.getElementById("disparea");
    let pDiv1;
    let pDiv2;
    let pDiv3;
    let pDiv4;
    // let pDiv5 = document.getElementById("textdiv_5");
    let pcnt = document.getElementById("cnt");
    let start = document.getElementById("start");
    let fileReader = new FileReader();

    getCSV();

    //*****************************************************************
    //CSVファイル読み込み
    //*****************************************************************
    function getCSV() {
        let req = new XMLHttpRequest(); // HTTPでファイルを読み込むためのXMLHttpRrequestオブジェクトを生成

        // ↓変更
        var testfile = "tango.csv";
        req.open("get", "csv/" + testfile, true); // アクセスするファイルを指定

        req.send(null); // HTTPリクエストの発行
        // レスポンスが返ってきたらconvertCSVtoArray()を呼ぶ
        req.onload = function () {
            convertCSVtoArray(req.responseText); // 渡されるのは読み込んだCSVデータ
            shufle(array);
        }
    }


    //*****************************************************************
    // convertCSVtoArray() 読み込んだCSVデータを二次元配列に変換する関数
    //*****************************************************************
    //* 読み込んだCSVデータが文字列として渡される
    function convertCSVtoArray(str) {
        let tmp = str.split("\n");
        for (let i = 0; i < tmp.length; ++i) {
            array[i] = tmp[i].split(',');
        }
        quantity = array.length;
        pcnt.innerText = 0 + '問目／' + quantity + '問';
    }


    //*****************************************************************
    // shufle(ary) 配列のランダムソート
    //*****************************************************************
    function shufle(ary) {
        for (var i = array.length - 1; i > 0; i--) {
            var j = Math.floor(Math.random() * (i + 1));
            var tmp = array[i];
            array[i] = array[j];
            array[j] = tmp;
        }
    }




    //*****************************************************************
    // Reset()
    //*****************************************************************
    // function Reset() {
    //     start.innerHTML = 'START';
    //     cnt = 0;
    //     flg = 1;
    //     pcnt.innerText = '　';
    //     pDiv1.innerHTML = '　';
    //     pDiv2.innerHTML = '　';
    //     pDiv3.innerHTML = '　';
    //     pDiv4.innerHTML = '　';
    //     // pDiv5.innerHTML = '　';
    //     for (var i = array.length - 1; i > 0; i--) {
    //         var j = Math.floor(Math.random() * (i + 1));
    //         var tmp = array[i];
    //         array[i] = array[j];
    //         array[j] = tmp;
    //     }
    // };

    //*****************************************************************
    // select_radio() 選択した問題数を反映
    //*****************************************************************
    function select_radio() {
        elements = document.getElementsByName("r");
        for (var i = elements.length; i--;) {
            if (elements[i].checked) {
                switch (elements[i].value) {
                    case "0":
                        quantity = 10;
                        break;
                    case "1":
                        quantity = 30;
                        break;
                    case "2":
                        quantity = array.length;
                        break;
                }
            }
        }
        disparea.textContent = '-- START --';
        disabled_release.disabled = true;      //backボタンの無効化
        disparea.classList.add('disparea');
        shufle(array);
        cnt = 0;    //ラジオボタン選択時にカウントを初期化する
        pcnt.innerText = cnt + '問目／' + quantity + '問';
    }

    //*****************************************************************
    // back() ひとつ前の略語表示に戻る
    //*****************************************************************
    function back() {
        cnt--;
        if (cnt < 0) {
            cnt = 0
        }
        flg = 0;
        disparea.textContent = array[cnt][flg];
        disparea.classList.add('disparea');
        pcnt.innerText = cnt + 1 + '問目／' + quantity + '問';
        disparea.classList.add('disparea');
        start.classList.remove('btn-color2');
        start.classList.add('btn-color');
        start.innerHTML = 'NEXT';
        reset_flg = false;
        flg = 0;
    };

    //*****************************************************************
    // changeText() ボタンを押されたら表示を変える関数
    //*****************************************************************
    function changeText() {
        disparea.classList.remove('disparea');

        /*終了時の処理 問題が最後まで終わったら最初から繰り返す*/
        if (reset_flg) {
            let answer = confirm('You もう1回やっちゃいなよ ( ´⊿`)y-~~');
            if (answer) {
                disparea.textContent = '-- START --';
                disabled_release.disabled = true;      //backボタンの無効化
                disparea.classList.add('disparea');
                shufle(array);
                cnt = 0;    //ラジオボタン選択時にカウントを初期化する
                start.classList.remove('btn-color2');
                start.classList.add('btn-color');
                pcnt.innerText = cnt + '問目／' + quantity + '問';
                start.innerHTML = 'NEXT';
                reset_flg = false;
            } else {
                disparea.classList.add('disparea');
                reset_flg = true;
            }
            return;
        }
        if ((flg == 1 && cnt == quantity) || (flg == 1 && cnt == array.length)) {
            disparea.textContent = '-- END --';
            disparea.classList.add('disparea');
            start.classList.remove('btn-color');
            start.classList.add('btn-color2');
            pcnt.innerText = cnt + '問目／' + quantity + '問';
            start.innerHTML = 'Re:START';
            reset_flg = true;
            return;
        }
        /*終了時の処理　ここまで*/

        flg = flg ^ 1;
        if (flg == 0) {
            disparea.textContent = array[cnt][flg];
            disparea.classList.add('disparea');
            pcnt.innerText = cnt + 1 + '問目／' + quantity + '問';
        } else {
            disparea.innerHTML = '<div class="py-3"><h2 id="textdiv_1" class="text-center">　</h2><p class="border-bottom text-center"><span id="textdiv_2">　</span></p><p class="border-bottom text-center"><span id="textdiv_3">　</span></p><p class="border-bottom text-center"><span id="textdiv_4">　</span></p></div>';
            disparea.classList.remove('disparea');

            pDiv1 = document.getElementById("textdiv_1");
            pDiv2 = document.getElementById("textdiv_2");
            pDiv3 = document.getElementById("textdiv_3");
            pDiv4 = document.getElementById("textdiv_4");

            pDiv1.innerHTML = array[cnt][flg - 1];
            pDiv2.innerHTML = array[cnt][flg];
            pDiv3.innerHTML = array[cnt][flg + 1];
            pDiv4.innerHTML = array[cnt][flg + 2];
            cnt++;
        }

        disabled_release.disabled = false;      //backボタンの有効化
    };

    //*****************************************************************

</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

</html>