header {
    background-color: deepskyblue;
}

.disparea {
    text-align: center;
    font-size: 60px;
    padding: 60px 0px;
}

.dispareahight {
    height: 280px;
}

.btn-color{
    border-width: 3px;
    color: deepskyblue;
    border-color: deepskyblue;
}
.btn-color:hover{
    color: #fff;
    background-color: deepskyblue;
    border-color: deepskyblue;
}

.btn-color2{
    border-width: 3px;
    color: dodgerblue;
    border-color: dodgerblue;
}
.btn-color2:hover{
    color: #fff;
    background-color: dodgerblue;
    border-color: dodgerblue;
}

.navbar-brand {
    background: url("../images/logo2.png") no-repeat left center;
    background-size: contain;
    height: 50px;
    width: 215px;
}