body {
	background: rgb(251, 251, 253);
	margin: 0;
}

header {
	background-color: deepskyblue;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
}

header a {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}

.container {
	background-color: deepskyblue;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1200px;
}

.navbar {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.5rem 1rem;
}

.navbar-brand{
	font-size: 1.25rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: .5rem;
	padding-left: .5rem;
}

.navbar-expand-lg .navbar-nav {
	flex-direction: row;
}

.navbar-nav {
	display: flex;
	padding-left: 0;
	margin: 8px 0;
	list-style: none;
}

.nav-link {
	color: rgba(255, 255, 255, .5);
}

/* バックボタン */

.b_point {
	position: absolute;
	top: 80px;
	left: 1000px;
	text-align: center;
	display: inline-block;
	padding: 15px;
	/* line-height: 0.5em; */
	border-radius: 4px;
	font-size: 16px;
	background-color: deepskyblue;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border: none;
	cursor: pointer;
	height: 30px;
	align-items: center;
}

.b_point a {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 30px;
	color: #ffffff;
	font-size: 16px;
}

.b_point:hover {
	transition: .5s;
	background: dodgerblue;
	color: #ffffff;
}

/* テーブル */

.table_box {
	margin-top: 180px;
	/* margin-left: 30px; */
	font-size: 15px;
	color: black;
	text-align: center;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 1200px;
	border: 0px none;
	margin: 0 auto;
}

th {
	border: solid 1px #808080;
	padding: 0.5em;
	background-color: #C0C0C0;
}

td {
	border: solid 1px #808080;
	padding: 0.5em;
}

table tr:nth-child(even) {
	background-color: #eee
}

.a {
	width: 9%;
}

.b {
	width: 24%;
}

.c {
	width: 24%;
}

.d {
	width: 35%;
}

.e {
	width: 8%;
}

input[type="file"] {
	display: none;
}

#input-group {
	text-align: center;
	margin-top: 60px;
}

label {
	padding: 10px 30px;
	display: inline-block;
	border-radius: 5px;
	color: deepskyblue;
	border-color: deepskyblue;
	border: solid 3px deepskyblue;
	text-align: center;
	margin-top: 17px;
	margin-bottom: 15px;
}

label::after {
	content: "";
	font-size: 15px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: -140px;
	top: calc(50% - 10px);
}

label.changed::after {
	content: "";
}

.filename {
	font-size: 18px;
	color: deepskyblue;
	display: inline-block;
	margin-bottom: 15px;
	max-width:500px;
}

/******** 編集ボタン *********/

/* * Custom Select * */

.custom-select-wrapper {
	position: absolute;
	top: 40px;
	left: 15px;
	display: inline-block;
	user-select: none;
}

.custom-select-wrapper select {
	display: none;
}

.custom-select {
	position: static;
	display: inline-block;
}

.custom-select-trigger {
	position: relative;
	display: block;
	top: 30%;
	left: 0;
	width: 150px;
	padding: 15px 84px 15px 22px;
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	text-decoration: none;
	border-radius: 4px;
	color: #ffffff;
	background-color: deepskyblue;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border: none;
	cursor: pointer;
	height: 30px;
}

.custom-select-trigger:hover {
	transition: .5s;
	background: dodgerblue;
	color: #ffffff;
}

.custom-select-trigger:after {
	position: absolute;
	top: 50%;
	right: 25px;
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	margin-top: -3px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: rotate(45deg) translateY(-50%);
	transition: all .4s ease-in-out;
	transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
	margin-top: 3px;
	transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
	display: block;
	top: 100%;
	left: 0;
	right: 0;
	min-width: 100%;
	margin-top: 5px;
	border: 1px solid #b5b5b5;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .07);
	background: #fff;
	transition: all .4s ease-in-out;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transform: translateY(-15px);
}

.custom-select.opened .custom-options {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transform: translateY(0);
}

.custom-options:before {
	position: absolute;
	display: block;
	content: '';
	bottom: 100%;
	right: 25px;
	width: 7px;
	height: 7px;
	margin-bottom: -4px;
	border-top: 1px solid #b5b5b5;
	border-left: 1px solid #b5b5b5;
	background: #fff;
	transform: rotate(45deg);
	transition: all .4s ease-in-out;
}

.option-hover:before {
	background: #f9f9f9;
}

.custom-option {
	position: relative;
	display: block;
	padding: 0 22px;
	border-bottom: 1px solid #b5b5b5;
	font-size: 15px;
	font-weight: 600;
	color: #b5b5b5;
	line-height: 47px;
	cursor: pointer;
	transition: all .4s ease-in-out;
}

.custom-option:first-of-type {
	border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
	border-bottom: 0;
	border-radius: 0 0 4px 4px;
}

.custom-option:hover, .custom-option.selection {
	background: #f9f9f9;
}

.custom-select, .sources, .opened {
	height: 0px;
	padding: 0;
	border: none;
}

/* アップロードボタン */

.up-btn {
	position: absolute;
	top: 40px;
	right: 15px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	border-radius: 4px;
	font-size: 16px;
	color: #ffffff;
	background-color: deepskyblue;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border: none;
	cursor: pointer;
	height: 60px;
	align-items: center;
}

.up-btn:hover {
	transition: .5s;
	background: dodgerblue;
	color: #ffffff;
}

.modalOpen {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 30px;
	color: #ffffff;
	font-size: 16px;
	padding: 15px;
}

.modalClose {
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-size: 20px;
	padding: 10px;
	margin-right: 10px;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(.95);
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	min-width: 500px;
	height: 46vh;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
	max-height: 90vh;
	overflow: auto;
}

.m-close {
	position: absolute;
	top: 0%;
	right: 0%;
	margin: 0;
}

.modal.active {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%) scale(1);
}

.modalContents {
	line-height: 1.8;
}

.mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}

.mask.active {
	opacity: 0.7;
	visibility: visible;
}

#type-error {
	font-size: 18px;
	color: red;
}

#UPdata {
	display: inline-block;
	padding: 1.0em 2.0em;
	;
	text-decoration: none;
	border-radius: 4px;
	font-size: 18px;
	color: #ffffff;
	background-color: deepskyblue;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border: none;
	cursor: pointer;
}

#UPdata:hover {
	transition: .5s;
	background: dodgerblue;
	color: #ffffff;
}

#UPend {
	position: absolute;
	top: 10px;
	right: 0;
	display: inline-block;
	border-radius: 5px;
	color: red;
	text-align: center;
	font-size: 25px;
	padding: 5px 20px;
	margin-top: 100px;
}

#save {
	position: absolute;
	top: 40px;
	left: 300px;
	height: 60px;
	display: inline-block;
	padding: 1.0em 2.0em;
	;
	text-decoration: none;
	border-radius: 4px;
	font-size: 18px;
	color: #ffffff;
	background-color: deepskyblue;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border: none;
	cursor: pointer;
}

#save:hover {
	transition: .5s;
	background: dodgerblue;
	color: #ffffff;
}

.navbar-brand {
    background: url("../images/logo2.png") no-repeat left center;
    background-size: contain;
    height: 50px;
    width: 215px;
}

.nav-link{
	color: white;
}

.nav-link:hover {
    opacity: 0.8;
}

.btn-area{
	max-width:1200px;
	margin: 0 auto;
	position: relative;
}

.newrow {
	max-width:1200px;
	margin: 0 auto;
	position: relative;
}

.newrow button{
	position: absolute;
	top: 10px;
	left: 0px;
	text-align: center;
	display: inline-block;
	padding: 15px;
	margin: 30px 0;
	/* line-height: 0.5em; */
	border-radius: 4px;
	font-size: 16px;
	background-color: deepskyblue;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border: none;
	cursor: pointer;
	align-items: center;
	color: #ffffff;
}

.newrow button:hover {
	transition: .5s;
	background: dodgerblue;
	color: #ffffff;
}