body{
	background: rgb(251,251,253);
	margin: 0;
} 


/* バックボタン */
.b_point {
  position: absolute;
  top: 80px;
  left: 670px;
  text-align: center;
  display: inline-block;
  padding: 0.5em 2.0em;
  line-height: 0.5em;
  border-radius: 4px;
  font-size: 16px;
  background-color: deepskyblue;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border: none;
  cursor: pointer;
}
.b_point a{
	text-decoration: none;
	color: #ffffff;
}

.b_point:hover {
  transition: .5s;
  background: dodgerblue;
  color: #ffffff;
}



/* テーブル */
.table_box {
	margin-top: 300px;
	margin-left: 30px;
	font-size: 15px;
	color: black;
	text-align: center;
}

.newrow {
	text-align: left;
}

table {
	border-collapse: collapse;
	table-layout:fixed;
	width: 1200px;
	border: 0px none;
}


th {
	border: solid 1px #808080;
	padding: 0.5em;
	background-color: #C0C0C0;
}

td {
	border: solid 1px #808080;
	padding: 0.5em;
}

table tr:nth-child(even){
	background-color: #eee
}

.a{
	width: 100px;
}
.b{
	width: 300px;
}
.c{
	width: 300px;
}
.d{
	width: 400px;
}
.e{
	width: 100px;
}





input[type="file"] {
	display: none;
	
 }

 #input-group{
	text-align: center;
	margin-top: 60px;
 }

 label {
	padding: 10px 30px;
	display: inline-block;
	border-radius: 5px;
	color: deepskyblue;
	border-color: deepskyblue;
	border: solid 3px deepskyblue;
	text-align: center;
	margin-top: 17px;
	margin-bottom: 15px;
 }
 label::after {
	content: "";
	font-size: 15px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: -140px;
	top: calc(50% - 10px);
 }
 label.changed::after {
	content: "";
 }
 .filename {
	font-size: 18px;
	color:deepskyblue;
	display: inline-block;
	margin-bottom: 15px;
 }












 /******** 編集ボタン *********/
  
  /* * Custom Select * */
  .custom-select-wrapper {
	position: absolute;
	top:80px; left: 30px;
	display: inline-block;
	user-select: none;
  }

.custom-select-wrapper select {
	display: none;
}

.custom-select {
	position: static;
	display: inline-block;
}

.custom-select-trigger {
	position: relative;
	display: block; 
	top: 30%; left: 0;
	width: 150px;
	padding: 15px 84px 15px 22px;
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	text-decoration: none;
	border-radius: 4px;
	color: #ffffff;
	background-color: deepskyblue;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border: none;
	cursor: pointer;
}

.custom-select-trigger:hover {
	transition: .5s;
	background: dodgerblue;
	color: #ffffff;
  }


.custom-select-trigger:after {
	position: absolute;
	top: 50%; right: 25px;
	display: block;
	content: '';
	width: 10px; height: 10px;
	margin-top: -3px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: rotate(45deg) translateY(-50%);
	transition: all .4s ease-in-out;
	transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
	margin-top: 3px;
	transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
	display: block;
	top: 100%; left: 0; right: 0;
	min-width: 100%;
	margin-top: 5px;
	border: 1px solid #b5b5b5;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 0 2px 1px rgba(0,0,0,.07);
	background: #fff;
	transition: all .4s ease-in-out;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transform: translateY(-15px);
}

.custom-select.opened .custom-options {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transform: translateY(0);
}

.custom-options:before {
	position: absolute;
	display: block;
	content: '';
	bottom: 100%; right: 25px;
	width: 7px; height: 7px;
	margin-bottom: -4px;
	border-top: 1px solid #b5b5b5;
	border-left: 1px solid #b5b5b5;
	background: #fff;
	transform: rotate(45deg);
	transition: all .4s ease-in-out;
}

.option-hover:before {
	background: #f9f9f9;
}

.custom-option {
	position: relative;
	display: block;
	padding: 0 22px;
	border-bottom: 1px solid #b5b5b5;
	font-size: 15px;
	font-weight: 600;
	color: #b5b5b5;
	line-height: 47px;
	cursor: pointer;
	transition: all .4s ease-in-out;
}

.custom-option:first-of-type {
	border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
	border-bottom: 0;
	border-radius: 0 0 4px 4px;
}

.custom-option:hover,
.custom-option.selection {
	background: #f9f9f9;
}

.custom-select,.sources,.opened{
	height: 0px;
    padding: 0;
    border: none;
}





/* アップロードボタン */
.up-btn{
	position: absolute;
	top: 80px;
    left: 500px;
	text-align: center;
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	border-radius: 4px;
	font-size: 16px;
	color: #ffffff;
	background-color: deepskyblue;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border: none;
	cursor: pointer;
}

.up-btn:hover {
	transition: .5s;
	background: dodgerblue;
	color: #ffffff;
  }

.modalOpen{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 40px;
	color: #ffffff;
	font-size: 16px;
}

.modalClose{
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-size: 20px;
	padding: 10px;
	margin-right: 10px;
}


.modal{
	position:fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(.95);
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	min-width: 500px;
	height: 40vh;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
	max-height: 90vh;
	overflow: auto;
}

.m-close{
	position: absolute;
	top:0%; right:0%;
	margin: 0;
}

.modal.active{
	opacity:1;
	visibility: visible;
	transform: translate(-50%, -50%) scale(1);
}

.modalContents{
	line-height: 1.8;
}

.mask{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}

.mask.active{
	opacity: 0.7;
	visibility: visible;
}

#type-error{
	font-size: 18px;
	color: red;
}

#UPdata{
	display: inline-block;
	padding: 1.0em 2.0em;;
	text-decoration: none;
	border-radius: 4px;
	font-size: 18px;
	color: #ffffff;
	background-color: deepskyblue;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border: none;
	cursor: pointer;
}

#UPdata:hover {
	transition: .5s;
	background: dodgerblue;
	color: #ffffff;
  }

#UPend{
	position: relative;
	top:3px; left:10px;
	display: inline-block;
	border-radius: 5px;
	color: red;
	text-align: center;
	font-size: 25px;
	padding: 5px 20px;
}


#save{
	position: absolute;
	top:80px; left: 300px;
	height: 60px;
	display: inline-block;
	padding: 1.0em 2.0em;;
	text-decoration: none;
	border-radius: 4px;
	font-size: 18px;
	color: #ffffff;
	background-color: deepskyblue;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border: none;
	cursor: pointer;
}

#save:hover {
	transition: .5s;
	background: dodgerblue;
	color: #ffffff;
  }



